@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Summary!</h1>
    <h2>Review hub for all of your favorite courses!</h2>
    <p>Summary allows students to give feedback on the courses they have taken whether it be at university, on the job training or through online learning programs. These reviews can be used by future students to properly select what they desire in a course whether it be to make sure the difficulty of the class is not too hard or finding a course that is most relevant to what they are looking for. The best perspective is from the perspective of your future self.</p>
</div>
