@model nucSummary.Models.Reviews

@{
    ViewData["Title"] = "CreateReviews";
}

<h1>CreateReviews</h1>

<h4>Reviews</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="CreateReviews">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Difficulty" class="control-label">Difficulty - How easy was it to understand the content?</label>
                <div class="form-group">
                    <select asp-for="Difficulty" id="Difficulty">
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                    </select>
                </div>
                <span asp-validation-for="Difficulty" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Content" class="control-label">Content - Did you feel the content was well thought out and delivered in a concise manner?</label>
                <div class="form-group">
                    <select asp-for="Content" id="Content">
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                    </select>
                </div>
                <span asp-validation-for="Content" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Design" class="control-label">Design - Did the course use effective visuals and animations to help with the rate of learning?</label>
                <div class="form-group">
                    <select asp-for="Design" id="Design">
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                    </select>
                </div>
                <span asp-validation-for="Design" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Assessments" class="control-label">Assessments - Did the course assessments or quizzes evaluate material that was important?</label>
                <div class="form-group">
                    <select asp-for="Assessments" id="Assessments">
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                    </select>
                </div>
                <span asp-validation-for="Assessments" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Exercises" class="control-label">Exercises - Did the exercises help further your learning of the course material?</label>
                <div class="form-group">
                    <select asp-for="Exercises" id="Exercises">
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                    </select>
                </div>
                <span asp-validation-for="Exercises" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Relevancy" class="control-label">Relevancy - Did the course seem relevant to the title and course description?</label>
                <div class="form-group">
                    <select asp-for="Relevancy" id="Relevancy">
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                    </select>
                </div>
                <span asp-validation-for="Relevancy" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Overview" class="control-label"></label>
                <input asp-for="Overview" class="form-control" />
                <span asp-validation-for="Overview" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
